button.round-button {
  box-sizing: border-box;
  width: 70px;
  min-width: 70px;
  height: 70px;
  margin: 10px;
  padding: 0;
  border-radius: 50%;
  background: white;
  font-size: 40px;
  color: rgb(0, 46, 196);
  text-align: center;
}
