.students-page-container {
  .table-container {
    height: 70vh;
    overflow: auto;
  }

  .buttons-container {
    margin: 30px;
    text-align: center;

    span {
      position: relative;
      top: -4px;
      font-weight: bold;
    }
  }
}
